*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
    text-decoration: none;
}

body{
    background-color: black;
}

a{
    color:inherit;
}

    /*******page d'accueil******/

.container{
    display: flex;
}

.imageaccueil{
    position: absolute;
    width: 886px;
    height: 823px;
    margin-left: 482px;
    margin-top: 60px;
    border-radius: 50%;
}

.item1{
    color: white;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    line-height: 25px;
    text-align: center;
}

.text-accueil{
    color:white;
    position: absolute;
    width: 432px;
    height: 800px;
    margin-left: 29px;
    margin-top: 400px;
    font-size: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
}

.item2{
    height: 20px;
    width: 12%;
    background-color: red;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 0;
}
.item3{
    background-color: red;
    width: 12%;
    height: 20px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 50px;
}
.item4{
    background-color: red;
    width: 12%;
    height: 20px;
    margin-left: 35px;
    margin-bottom: 0;
    margin-top: 70px;
}
.item5{
    color: white;
    margin-left: 35px;
    margin-top: 90px;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    line-height: 25px;
    text-align: center;
}

/**************Film culte1*********/

.container2{
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
}

h1{
    color: white;
    font-size: 16px;
    border-bottom: 3px solid red;
    padding: 10px;
}

.resum-contain{
    display: flex;
}

.resum{
    margin-top: 20px;
    color: black;
    background-color: red;
    width: 100%;
    height: 150px;
    text-align: center;
    align-items: center; 
}

.resum button {
    background-color: red;
    margin-top: 55px;
    border: none;
    cursor:pointer;
}

.presum {
    display: none;
    margin-top: 20px;
    color: black;
    background-color: red;
    width: auto;
    height: 150px;
    text-align: center;
    align-items: center; 

}

.repliques1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.parafphoto{
    color: white;
    border-right: 3px solid red;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}
.imagefunes1 , .imagebronzes1 , .imagecite1{
  position: absolute;
  width: 197px;
  height: 139px;
  left: 50px;
  top: 300px;
  border-radius: 50%;
}
.imagefunes2 , .imagebronzes2 , .imagecite2{
  position: absolute;
  width: 197px;
  height: 139px;
  left: 500px;
  top: 450px;
  border-radius: 50%;
}
.imagefunes3 , .imagebronzes3 , .imagecite3{
  position: absolute;
  width: 197px;
  height: 139px;
  left: 50px;
  top: 580px;
  border-radius: 50%;
}
.imagefunes4 , .imagebronzes4 , .imagecite4{
  position: absolute;
  width: 197px;
  height: 139px;
  left: 500px;
  top: 720px;
  border-radius: 50%;
}
.imagefunes5 , .imagebronzes5 , .imagecite5{
  position: absolute;
  width: 197px;
  height: 139px;
  left: 900px;
  top: 550px;
  border-radius: 50%;
}
.parafphoto1{
  color: white;
  position: absolute;
  width: 400px;
  left: 270px;
  top: 350px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotocite1{
  color: white;
  position: absolute;
  width: 400px;
  left: 270px;
  top: 330px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphoto2{
  color: white;
  position: absolute;
  width: 400px;
  left: 180px;
  top: 480px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphoto2-bronzes{
  color: white;
  position: absolute;
  width: 300px;
  left: 180px;
  top: 460px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotocite2{
  color: white;
  position: absolute;
  width: 300px;
  left: 180px;
  top: 480px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphoto3{
  color: white;
  position: absolute;
  width: 400px;
  left: 250px;
  top: 600px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotocite3{
  color: white;
  position: absolute;
  width: 400px;
  left: 250px;
  top: 630px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphoto4{
  color: white;
  position: absolute;
  width: 400px;
  left: 150px;
  top: 750px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotobronzes4{
  color: white;
  position: absolute;
  width: 400px;
  left: 110px;
  top: 750px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotocite4{
  color: white;
  position: absolute;
  width: 400px;
  left: 95px;
  top: 780px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphoto5{
  color: white;
  position: absolute;
  width: 400px;
  left: 800px;
  top: 700px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.parafphotobronzes5{
  color: white;
  position: absolute;
  width: 400px;
  left: 850px;
  top: 700px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.paraf6{
  color: white;
  position: absolute;
  width: 400px;
  left: 925px;
  top: 800px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.avis{
    color: white;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 200px;
    padding-left: 10px;
    padding-right: 10px;
}


/*************Footer*********/


footer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 2%;
    padding-right: 5px;
}

    .ajout-avis {
        display: none;
        border-radius:10px;
        background-color:#f2f2f2;
        padding:20px;
        width: 100%;
        margin:0 auto;
        margin-top: 150px;
      }

 
    .buttonForm button{
        background-color: red;
        cursor: pointer;
        height: 50px;
        width: 200px;
        margin: 0;
        margin-top: 150px;
        text-align: center;
    }
    
      h3  {
        color: #ffc800;
        width: 100%;
      }
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }

label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
  
  /***********Carousel********/
  
  .container3 {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .item {
        display: block;
        position: absolute;
        border-radius: 10px;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
  }
  .b {
    transform: rotateY(60deg) translateZ(250px);
  }
  .c {
    transform: rotateY(120deg) translateZ(250px);
  }
  .d {
    transform: rotateY(180deg) translateZ(250px);
  }
  .e {
    transform: rotateY(240deg) translateZ(250px);
  }
  .f {
    transform: rotateY(300deg) translateZ(250px); 
  }

  .next, .prev {
    color: black;
    position: absolute;
    top: 1200px;
    padding: 1em 2em;
    cursor: pointer;
    background: red;
    border-radius: 5px;
    transition: box-shadow 0.1s, top 0.1s;
  }

  .next {
      right: 5em;
    }
  .prev {
      left: 5em;
    }

/************Page quizz**********/

.quizz{
  background-image: url("images/imgcine4.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: red;
  font-family: 'Irish Grover', cursive;
	font-size: 14px;
}
/********j'ai modifié la position en relative car la page du quizz ne défilé pas ******/
.container-quizz {
	width: 60%;
	background: white;
	overflow: auto;
	padding: 25px;
  position: relative;
  top: -1200px;
  left: 20%;
  transition: top 2s;
}

.visible {
  top: 0;
}

.header-quizz {
	background-color: black;
	padding: 10px 10px;
	text-align: center;
	border-bottom: #e2e2e2 dashed 1px;
}

.header-quizz h1 {
	margin: 0;
	padding: 0;
  border: none;
}

.header-quizz p {
	padding: 0;
	margin-top: 5px;
	color: red;
}

.section-quizz {
	min-height: 400px;
}

.h3-quizz {
  color: red;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer-quizz {
	text-align: center;
}

.click-quizz {
	text-transform: uppercase;
	background: red;
  margin-top: 30px;
	border: 10px;
	color: black;
	padding: 5px 10px;
	cursor: pointer;
}

.input-submit-quizz {
	background: red;
	border: 0;
	color: black;
	padding: 10px 15px;
	cursor: pointer;
}

#results h3 {
  color: black;
	background: red;
	padding: 10px;
	margin-top: 10px 0;
}

#results span {
	color: black;
	font-weight: bold;
}


  



